#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { 
// ------------------------------------------------------------------------------------------------------------
//            0       1      2      3       4       5        6          10      11      12       13       14       15     16        
//  0      |  F1   |  F2  |  F3  |  F4   |  F5   |  F6   |                    |  F7   |  F8    |  F9    |  F10  |  F11  |  F12  |
//  1      |  `    |   1  |   2  |   3   |   4   |   5   |                    |   6   |   7    |   8    |   9   |   0   | BSPC  |
//  2      |  TAB  |   Q  |   W  |   E   |   R   |   T   |                    |   Y   |   U    |   I    |   O   |   P   |  DLT  |
//  3      | SHIFT |   A  |   S  |   D   |   F   |   G   |                    |   H   |   J    |   K    |   L   |   ;   | ENTER |
//  4      | CTRL  |   Z  |   X  |   C   |   V   |   B   |    A  |    |   A   |   N   |   M    |   ,    |   .   |   /   | SHIFT |
//  5                     | LGUI | LALT  | SPACE |   1   |                    |   1   | SPACE  | RGUI   | RALT  |
//  6                                    | ESC   |   2   |    B  |    |   B   |   2   |  ESC   |
//  7                                    |   3   |   4   |                    |   4   |   3    |
       
//        ------------------------------------------------------------------------------------------------------------
//  0     |  F1   |  F2  |  F3  |  F4   |  F5   |  F6   | SPACE |    | SPACE |  F7   |  F8    |  F9    |  F10  |  F11  |  F12  |
//  1     |  `    |   1  |   2  |   3   |   4   |   5   |   1   |    |   1   |   6   |   7    |   8    |   9   |   0   | BSPC  |
//  2     |  TAB  |   Q  |   W  |   E   |   R   |   T   |  ESC  |    |  ESC  |   Y   |   U    |   I    |   O   |   P   |  DLT  |
//  3     | SHIFT |   A  |   S  |   D   |   F   |   G   |   2   |    |   2   |   H   |   J    |   K    |   L   |   ;   | ENTER |
//  4     | CTRL  |   Z  |   X  |   C   |   V   |   B   |   3   |    |   3   |   N   |   M    |   ,    |   .   |   /   | SHIFT |
//  5                    | LGUI | LALT  |   B   |   A   |   4   |    |   4   |   A   |   B    | LALT   |  LGUI |
       




            bindings = <
                &kp F1     &kp F2   &kp F3    &kp F4    &kp F5    &kp F6    &kp SPACE         &kp SPACE  &kp F7    &kp F8    &kp F9     &kp F10    &kp F11    &kp F12
                &kp GRAVE  &kp 1    &kp 2     &k  3     &k   4    &kp  5    &kp 1             &kp 1      &kp  6    &kp  7    &kp  8     &kp   9    &kp  10    &kp BSPC
                &kp TAB    &kp Q    &kp W     &kp E     &kp  R    &kp  T    &kp ESC           &kp ESC    &kp Y     &kp U     &kp  I     &kp   O    &kp  P     &kp DEL
                &kp LSHIFT &kp A    &kp S     &kp D     &kp  F    &kp  G    &kp 2             &kp 2      &kp H     &kp J     &kp  K     &kp   L    &kp  SEMI  &kp ENTER
                &kp CTRL   &kp Z    &kp X     &kp C     &kp  V    &kp  B    &kp 3             &kp 3      &kp N     &kp M     &kp  COMM  &kp DOT    &kp  FSLH  &kp ENTER
                                   &kp LGUI  &kp LALT  &kp  B    &kp  A    &kp 4              &kp 4      &kp A     &kp B     &kp  RALT  &kp RGUI
            >;
        };
    };
 };